.reveal h1 {
    font-size: 2.2em;
    line-height: 1.5;
}

.reveal h2 {
    font-size: 1.8em;
    line-height: 1.5;
    text-transform: none;
}

.reveal h4 {
    font-size: 1.2em;
    line-height: 1.5;
    text-transform: none;
}


.reveal h3 {
    text-transform: none;
}

.reveal section img {
    background: none;
    border: none;
}

div.reference {
    padding-top:20px;
}

.reference p{
    color: grey;
    font-size: 60%;
    text-align: left;
}

.reference ol li {
    color: grey;
    font-size: 60%;
    text-align: left;
}


.reveal p {
    text-align: center;
    font-size: 50%;
    color: 5a5a5a;
}
